
p_class{text-align: center;}
rules{
			-moz-user-select: none; 
	 		-webkit-user-select: none; 
		    -ms-user-select: none; 	
 			-khtml-user-select: none; 
		    user-select: none;
	}

	
.center{ 
			MARGIN-RIGHT: auto;
			MARGIN-LEFT: auto;
}
